body {
	background-color: orange;
    margin: 10% auto;
    font: 2em Futura, 'Century Gothic', AppleGothic, sans-serif;
}

#center {
	display: table;
    margin: 0 auto;
    background-color: white;
    table-layout: auto;
    empty-cells: hide;
    border-spacing: 10px 10px;
    text-align: center;
}

input[type=file], input[type=number], input[type=email] {
	font-size: 0.7em;
	width:70%;
}

input[type=submit] {
	margin-top: 1em;
	background-color: #666666;
   -moz-border-radius: 3px;
   -webkit-border-radius: 3px;
   -o-border-radius: 3px;
   -ms-border-radius: 3px;
   border-radius:3px;
   color: #DDDDDD;
   font-size: 0.8em;
   cursor: pointer;
   border:none;
   width: 10em;
}

input[type=submit]:hover {
	border: none;
    background: #444444;
    -moz-box-shadow: 0px 0px 1px #555;
    -webkit-box-shadow: 0px 0px 1px #555;
    -o-box-shadow: 0px 0px 1px #555;
    -ms-box-shadow: 0px 0px 1px #555
}